AZOR_HOST=0.0.0.0
AZOR_PORT=7600
AZOR_DB_URI=ws://localhost:7601
AZOR_DB_USER=root
AZOR_DB_PASS=root
AZOR_JWT_SECRET=lil-secret
AZOR_VOYAGE_API_KEY=...
AZOR_OPENROUTER_API_KEY=...
AZOR_SONIOX_API_KEY=...
# AZOR_LLM_MODEL=google/gemini-2.5-flash-lite
AZOR_LLM_MODEL=openai/gpt-oss-120b
